In [96]:
import numpy as np
import pandas as pd

In [97]:
df = pd.read_csv('hack_ru.csv', index_col=0)

In [98]:
df.head()

,country,company,total_pack_size_ml_g,unit_pack_size_ml_g,price_per_100g_ml_dollars,ingredients
0,Vietnam,Brand 0,130.0,130.0,0.32,"CI 77220, Aqua, Sorbitol, Hydrated Silica (Hyd..."
1,Brazil,Brand 1,90.0,90.0,1.22,active ingredient: sodium monofluorophosphate ...
2,Vietnam,Brand 2,120.0,120.0,1.26,"Sodium Fluoride CI 47005, Blue 1, flavor, Came..."
3,UK,Brand 3,100.0,100.0,4.92,"Sorbitol, Aqua, Hydrated Silica (Hydrated), Xy..."
4,Thailand,Brand 4,160.0,160.0,0.79,"Aqua (Deionized), Sorbitol, Hydrated Silica (H..."

In [99]:
#change column 'country' from str to number

In [100]:
country_lst = df['country'].tolist()
dic = dict()
i = 0
for x in country_lst:
    if x not in dic:
        dic[x] = i
        i = i + 1

In [101]:
df['country'] = df['country'].apply(lambda x: dic.get(x))

In [102]:
#remove 'Brand' in column 'company'

In [103]:
df['company'] = df['company'].apply(lambda x: x.split()[1])

In [105]:
# drop column 'unit_pack_size_ml_g', since it's not related actual price

In [106]:
df.drop('unit_pack_size_ml_g', axis=1, inplace=True)

In [107]:
#change column 'price_per_100g_ml_dollars' to 'actual_price'

In [108]:
df['price_per_100g_ml_dollars'] = df['total_pack_size_ml_g'] / 100 * df['price_per_100g_ml_dollars']

In [110]:
df.rename(columns={'price_per_100g_ml_dollars': 'actual_price'}, inplace=True)